body {
  background-color: black;
  font-family: 'Rubik', sans-serif;
  color: white;
}

/* Nav Bar */
.navbar-brand {
  font-family: 'La Belle Aurore', cursive;
  font-weight: 600;
}
.nav-item {
  font-family: 'Anton', sans-serif;
  padding-left: 4%;
  padding-right: 4%;
}

.social-icon {
  color: #bfbfbf;
  font-size: 1.2rem;
  padding-left: 1%;
  padding-right: 1%;
}

.social-icon:hover {
  color: white;
}


/* Band name area */
.title-text{
  text-align: center;
}

.band-name {
  padding-top: 70px;
  font-family: 'La Belle Aurore', cursive;
  font-weight: 700;
  color: white;
  font-size: 3.5rem;
}

.musical-experience {
  font-family: 'Rokkitt', serif;
  font-weight: 500;
  color: white;
  font-size: 2rem;
}

/* Content Area */
.content {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.fas {
  color: white;
  margin-top: 40px;
}

/* Contact Page */
#contact {
  padding-left: 4%;
  padding-right: 4%;
}
.contact-message {
  font-family: 'Rokkitt', serif;
  font-weight: 500;
  color: white;
  font-size: 3rem;
}
.contact-col {
  padding: 2% 2% 2% 5%;
  margin-bottom: 5%;
}

.contact-link {
  color: #bfbfbf;
}

.contact-link:hover {
  color: white;
}

td {
  padding: 2%;
}

/* Music Page */
#songs {
  text-align: center;
  padding-left: 4%;
  padding-right: 4%;
}
.song {
  padding: 2%;

}

.music-heading {
  font-family: 'Rokkitt', serif;
  font-weight: 500;
  color: white;
  font-size: 3rem;
  padding: 2% 2% 2% 5%;
}

/* Shows Page Section */
.shows-heading {
  font-family: 'Rokkitt', serif;
  font-weight: 500;
  color: white;
  font-size: 2rem;
  padding: 2% 2% 2% 5%;
}

/* About page */
#about {
  padding-left: 4%;
  padding-right: 4%;
}

.about-row {
  padding-bottom: 4%;
}

@media only screen and (max-width: 900px) {
  .member-image {
      padding-bottom: 5%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }
    .bio-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }

    .band-description {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }

    .bio-heading {
      margin-left: 5%;
    }
}

.bio-image {
  width: 90%;
}

.member-image {
  width: 75%;
}

.bio-heading {
  font-family: 'Rokkitt', serif;
  font-weight: 500;
  color: white;
  font-size: 3rem;

}

.bio-description {
  font-family: 'Rubik', sans-serif;
  color: white;
}

.band-description {
  font-family: 'Rubik', sans-serif;
  color: white;
}
