body {
  background-color: black;
  font-family: 'Rubik', sans-serif;
  color: white;
}

/* Nav Bar */
.nav-item {
  font-family: 'Anton', sans-serif;
  padding-left: 4%;
  padding-right: 4%;
}

.navigation {
  position: absolute;
  z-index: 1;
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: #fe83cc;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fe83cc;
}


.social-icon {
  color: #bfbfbf;
  font-size: 1.2rem;
  padding-left: 1%;
  padding-right: 1%;
}

.social-icon:hover {
  color: #fe83cc;
}

/* Padding to move content below navbar  */
@media only screen and (min-width: 901px) {
  #shows, #contact, #music-head {
    padding-top: 4%;
  }
  #about {
    padding-top: 5%;
  }
}

@media only screen and (max-width: 900px) {
  #shows, #about, #contact, #music-head {
    padding-top: 12%;
  }
}

/* Background for desktop */
@media only screen and (min-width: 901px) {
  .home-content {
    height: 65vh;
    text-align: center;
    background-image: url("../background.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 600px; /* Resize the background image to cover the entire container */
    padding-top: 5%;
    position: relative;
    top: 100px;
  }
  .home_icon {
    width: 150px;
  }
}

/* Background for mobile */
@media only screen and (max-width: 900px) {
  .home-page {
    height: 100vh;
    background-image: url("../mobile-background.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  .navigation .nav-link{
    text-align: center;
  }
  .nav-item{
    background-color: black;
    opacity: 85%;
  }
  .home_icon {
    width: 100px;
  }
}

#shows {
  margin-bottom: 5%;
}

/* Contact Page */
#contact {
  padding-left: 4%;
  padding-right: 4%;
  margin-bottom: 5%;
}
.contact-message {
  font-family: 'Rokkitt', serif;
  font-weight: 500;
  color: white;
  font-size: 3rem;
}
.contact-col {
  padding: 2% 2% 2% 5%;
  margin-bottom: 5%;
}

.contact-link {
  color: #bfbfbf;
}

.contact-link:hover {
  color: #fe83cc;
}

td {
  padding: 2%;
}

/* Music Page */
#songs {
  text-align: center;
  padding-left: 4%;
  padding-right: 4%;
  margin-bottom: 10%;
}
.song {
  padding: 2%;

}

.music-heading {
  font-family: 'Rokkitt', serif;
  font-weight: 500;
  color: white;
  font-size: 3rem;
  padding: 2% 2% 2% 5%;
}

/* Shows Page Section */
.shows-heading {
  font-family: 'Rokkitt', serif;
  font-weight: 500;
  color: white;
  font-size: 2rem;
  padding: 2% 2% 2% 5%;
}

/* About page */
#about {
  padding-left: 4%;
  padding-right: 4%;
  margin-bottom: 5%;
}

.about-row {
  padding-bottom: 4%;
}

@media only screen and (max-width: 900px) {
  .member-image {
      padding-bottom: 5%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }
    .bio-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }

    .band-description {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }

    .bio-heading, .bio-description {
      margin-left: 5%;
    }
}

.bio-image {
  width: 90%;
}

.member-image {
  width: 75%;
}

.bio-heading {
  font-family: 'Rokkitt', serif;
  font-weight: 500;
  color: white;
  font-size: 3rem;

}

.bio-description {
  font-family: 'Rubik', sans-serif;
  color: white;
}

.band-description {
  font-family: 'Rubik', sans-serif;
  color: white;
}


/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Rokkitt', serif;
  font-weight: 500;
  font-size: 2rem;
}

/* Menu Pop Up Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Pop Up Modal Content/Box */
.modal-content {
  background-color: #000000;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .modal-content {
    width: 80%;
    margin: 25% auto;
  }
}

@media only screen and (min-width: 901px) {
  .modal-content {
    width: 40%;
  }
}

.modal-link {
  color: white;
  font-family: 'Rokkitt', serif;
  font-weight: 500;
  font-size: 2rem;
}

.modal-social {
  padding: 0 2% 0;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.modal-link:hover, .close:hover,
.close:focus{
  color: #fe83cc;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0px 0px #fe83cc;
}

.btn-dark:hover, .btn-dark:focus {
  color: #fe83cc;
}
